{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Utilisateur Liste</h1>
    <div class="row-block">
        <a class="btn btn-primary" href="{{ path('app_utilisateur_new') }}">Ajouter Utilisateur</a>
    </div>
    <table class="table basic-table" id="myTable">
        <thead>
            <tr>
                <th>Email</th>
                <th>Role</th>
                <th>Civilité</th>
                <th>NomUsuel</th>
                <th>NomNaissance</th>
                <th>Prenom</th>
                <th>Numtel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.roles[0]|split('_')[1] }}</td>
                <td>{% if utilisateur.civilite is not null %}{{utilisateur.civilite ? 'Mr' : 'Mme' }}{% endif %}</td>
                <td>{{ utilisateur.nomUsuel }}</td>
                <td>{{ utilisateur.nomNaissance }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.numtel }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $('#myTable').DataTable( {
        "language": {
            "lengthMenu": "_MENU_ elements par page",
            "info": "page _PAGE_ de _PAGES_",
            "search": 'recherche',
            "emptyTable": "Aucune donnée disponible dans le tableau"
        }
        } );
    </script>
{% endblock %}
