{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Promotion Liste</h1>
    <div class="row-block">
        <a class="btn btn-primary" href="{{ path('app_promotion_new') }}">Créer Promotion</a>
    </div>
    <table class="table basic-table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Annee</th>
                <th>Formation</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.id }}</td>
                <td>{{ promotion.nom }}</td>
                <td>{{ promotion.annee }}</td>
                <td>{% if promotion.formation is not null %}{{ promotion.formation.specialite }}{{ (promotion.formation.options is not null) ? ' - ' ~ promotion.formation.options.nomOption : '' }}{% endif %}</td>
                <td>{{ promotion.dateDebut ? promotion.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ promotion.dateFin ? promotion.dateFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_promotion_show', {'id': promotion.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_promotion_edit', {'id': promotion.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $('#myTable').DataTable( {
        "language": {
            "lengthMenu": "_MENU_ elements par page",
            "info": "page _PAGE_ de _PAGES_",
            "search": 'recherche',
            "emptyTable": "Aucune donnée disponible dans le tableau"
        }
        } );
    </script>
{% endblock %}
