<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <div>
                <img src="{{ asset('img/logo.jpeg') }}" class="logo">
            </div>
            <div class="header-title">
                {{ title }}
            </div>
            {% if app.user %}
                <div class="header-user">
                    {{ app.user.email }}
                </div>
            {% endif %}
        </div>
        <div class="container-w">
            {% if app.user %}
                {{ include('nav.html.twig') }}
            {% endif %}
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
