<div class="navbar">
    <ul class="nav-links">
        {% if app.user.roles[0] == 'ROLE_ADMIN' %}
            <li><a href="{{ path('app_emploi_admin') }}">Emploi du temps</a></li>
            <li><a href="{{ path('app_utilisateur_index') }}">Gestion Utilisateurs</a></li>
            <li><a href="{{ path('app_inscription_index') }}">Gestion Inscription</a></li>
            <li><a href="{{ path('app_session_index') }}">Gestion Sessions</a></li>
            <li><a href="{{ path('app_promotion_index') }}">Gestions Promotions</a></li>
            <li><a href="{{ path('app_formation_index') }}">Gestion Formations</a></li>
        {% endif %}
        {% if app.user.roles[0] == 'ROLE_FORMATEUR' %}
            <li><a href="{{ path('app_emploi_formateur') }}">Emploi du temps</a></li>
        {% endif %}
        {% if app.user.roles[0] == 'ROLE_ELEVE' %}
            <li><a href="{{ path('app_emploi_eleve') }}">Emploi du temps</a></li>
            <li><a href="{{ path('app_emargement_eleve') }}">Emargement</a></li>
        {% endif %}

        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
    </ul>
</div>